# Exploratory Data Analysis- The Basics
An approach to EDA:  
![image of the data flow showing visualization as an exploratory and iterative process](http://benbestphd.com/images/r4ds_data-science.png)

#### The goal of EDA is to discover patterns in data. This is a fundamental stepping stone towards predictive modelling, or an end goal in itself. 

Tips for good EDA:
- Get to know the context of the data.  
- Question the data: Who collected it? Who is distributing it? Do all of the patterns make sense to what you know about the world? If they don’t, go back and look more closely at your data.

- Use EDA to formulate a question based on the patterns that you see.
- Use EDA to check if a hypothesis is worth a deeper analysis.

- Keep the questions SIMPLE and BRIEF- the goal is to understand and build complexity further on.
- Its an iterative process-- its okay to repeat things so long as you learn from previous output.

In [1]:
# importing the libraries for data processing
import numpy as np 
import pandas as pd

### 1. Tidying our charts data

Read the csv file, check for missing, duplicated and unexpected values, and filtering if needed

In [2]:
# read the charts dataset
charts_df = pd.read_csv('data/spotify_daily_charts.csv')
charts_df.head()

,date,position,track_id,track_name,artist,streams
0,2017-01-01,1,0kN8xEmgMW9mh7UmDYHlJP,Versace on the Floor,Bruno Mars,185236
1,2017-01-01,2,5uCax9HTNlzGybIStD3vDh,Say You Won't Let Go,James Arthur,180552
2,2017-01-01,3,7BKLCZ1jbUBVqRi2FVlTVw,Closer,The Chainsmokers,158720
3,2017-01-01,4,2rizacJSyD9S1IQUxUxnsK,All We Know,The Chainsmokers,130874
4,2017-01-01,5,5MFzQMkrl1FOOng9tq6R9r,Don't Wanna Know,Maroon 5,129656

### Data Checks
It is prudent to do the following on a DataFrame before any analysis is made
1. Check shape
2. Check data types of columns
3. Check null values in columns
4. Check rows with null values
5. Check for duplicates

In [3]:
#Check the shape of the dataframe
charts_df.shape

(294600, 6)

In [4]:
200*len(charts_df['date'].unique())

294600

In [5]:
#Check data types of the columns
charts_df.dtypes

date          object
position       int64
track_id      object
track_name    object
artist        object
streams        int64
dtype: object

In [6]:
#Check null values in the columns
charts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294600 entries, 0 to 294599
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        294600 non-null  object
 1   position    294600 non-null  int64
 2   track_id    294600 non-null  object
 3   track_name  294590 non-null  object
 4   artist      294590 non-null  object
 5   streams     294600 non-null  int64
dtypes: int64(2), object(4)
memory usage: 13.5+ MB

In [7]:
#Check for duplicates
sum(charts_df.duplicated())

0

In [8]:
#check if unique values are expected
charts_df['position'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200])

In [9]:
len(charts_df['artist'].unique())

764

In [10]:
len(charts_df['track_name'].unique())

2570

In [11]:
len(charts_df['track_id'].unique())

3284

> Q: Why do we have 2292 track ids but only 1826 track names?

##### Convert date to datetime index
Pandas has a very useful method `pd.to_datetime` that smartly recognizes date and time columns and allows for easier time series techniques

In [12]:
#transform date column into a datetime column
charts_df['date'] = pd.to_datetime(charts_df['date'])
charts_df.head()

,date,position,track_id,track_name,artist,streams
0,2017-01-01,1,0kN8xEmgMW9mh7UmDYHlJP,Versace on the Floor,Bruno Mars,185236
1,2017-01-01,2,5uCax9HTNlzGybIStD3vDh,Say You Won't Let Go,James Arthur,180552
2,2017-01-01,3,7BKLCZ1jbUBVqRi2FVlTVw,Closer,The Chainsmokers,158720
3,2017-01-01,4,2rizacJSyD9S1IQUxUxnsK,All We Know,The Chainsmokers,130874
4,2017-01-01,5,5MFzQMkrl1FOOng9tq6R9r,Don't Wanna Know,Maroon 5,129656

In [13]:
#extract month 
charts_df['month']=charts_df['date'].dt.month
charts_df.head()

,date,position,track_id,track_name,artist,streams,month
0,2017-01-01,1,0kN8xEmgMW9mh7UmDYHlJP,Versace on the Floor,Bruno Mars,185236,1
1,2017-01-01,2,5uCax9HTNlzGybIStD3vDh,Say You Won't Let Go,James Arthur,180552,1
2,2017-01-01,3,7BKLCZ1jbUBVqRi2FVlTVw,Closer,The Chainsmokers,158720,1
3,2017-01-01,4,2rizacJSyD9S1IQUxUxnsK,All We Know,The Chainsmokers,130874,1
4,2017-01-01,5,5MFzQMkrl1FOOng9tq6R9r,Don't Wanna Know,Maroon 5,129656,1

In [14]:
#extract year
charts_df['year']=charts_df['date'].dt.year
# get day and day of week
charts_df['day']=charts_df['date'].dt.day
charts_df['day_of_week']=charts_df['date'].dt.dayofweek # The day of the week with Monday=0, Sunday=6.
charts_df.head()

,date,position,track_id,track_name,artist,streams,month,year,day,day_of_week
0,2017-01-01,1,0kN8xEmgMW9mh7UmDYHlJP,Versace on the Floor,Bruno Mars,185236,1,2017,1,6
1,2017-01-01,2,5uCax9HTNlzGybIStD3vDh,Say You Won't Let Go,James Arthur,180552,1,2017,1,6
2,2017-01-01,3,7BKLCZ1jbUBVqRi2FVlTVw,Closer,The Chainsmokers,158720,1,2017,1,6
3,2017-01-01,4,2rizacJSyD9S1IQUxUxnsK,All We Know,The Chainsmokers,130874,1,2017,1,6
4,2017-01-01,5,5MFzQMkrl1FOOng9tq6R9r,Don't Wanna Know,Maroon 5,129656,1,2017,1,6

### 2. Examining the charts data
Reshape and aggregate the DataFrame to answer basic data questions

In [15]:
#Lets create tallies of each column using the `value_counts` method
charts_df['artist'].value_counts()[:10]

Ed Sheeran          9089
LANY                8350
Ben&Ben             6905
Moira Dela Torre    6116
December Avenue     5488
Lauv                5164
Ariana Grande       4547
Taylor Swift        4297
Maroon 5            4282
The Chainsmokers    4189
Name: artist, dtype: int64

In [16]:
charts_df['track_name'].value_counts()

Happier                                         1547
Your Song                                       1475
Say You Won't Let Go                            1473
Tadhana                                         1471
Tell Me Where It Hurts                          1470
                                                ...
NO ONE                                             1
Merry Christmas Everyone - Remastered              1
Santa Baby (with Henri René & His Orchestra)       1
Mean 2 U                                           1
Apologize                                          1
Name: track_name, Length: 2569, dtype: int64

In [17]:
#filtering columns
charts_df[charts_df['track_name']=='Happier']

,date,position,track_id,track_name,artist,streams,month,year,day,day_of_week
12230,2017-03-03,31,2RttW7RAu5nOAfq6YFvApB,Happier,Ed Sheeran,84942,3,2017,3,4
12425,2017-03-04,26,2RttW7RAu5nOAfq6YFvApB,Happier,Ed Sheeran,97382,3,2017,4,5
12619,2017-03-05,20,2RttW7RAu5nOAfq6YFvApB,Happier,Ed Sheeran,108776,3,2017,5,6
12815,2017-03-06,16,2RttW7RAu5nOAfq6YFvApB,Happier,Ed Sheeran,116598,3,2017,6,0
13014,2017-03-07,15,2RttW7RAu5nOAfq6YFvApB,Happier,Ed Sheeran,121400,3,2017,7,1
...,...,...,...,...,...,...,...,...,...,...
227796,2020-02-16,197,2dpaYNEQHiRxtZbfNsse99,Happier,Marshmello,26734,2,2020,16,6
231795,2020-03-07,196,2dpaYNEQHiRxtZbfNsse99,Happier,Marshmello,26758,3,2020,7,5
241990,2020-04-27,191,2RttW7RAu5nOAfq6YFvApB,Happier,Ed Sheeran,21555,4,2020,27,0
242193,2020-04-28,194,2RttW7RAu5nOAfq6YFvApB,Happier,Ed Sheeran,21499,4,2020,28,1
291559,2020-12-31,160,2dpaYNEQHiRxtZbfNsse99,Happier,Marshmello,37841,12,2020,31,3

> Q1. From top 50 most streamed, get top 20 most frequently occuring artists

In [18]:
charts_df[charts_df['position']<=50]['artist'].value_counts()[:20]

Ben&Ben                3933
Moira Dela Torre       2377
December Avenue        2348
LANY                   2015
Ed Sheeran             1987
Lauv                   1872
Ariana Grande          1583
The Chainsmokers       1312
Maroon 5               1298
Post Malone            1262
Dua Lipa               1219
This Band              1085
Taylor Swift           1077
I Belong to the Zoo    1067
BLACKPINK              1001
Khalid                  994
Jonas Blue              910
Shawn Mendes            867
Bazzi                   851
BTS                     827
Name: artist, dtype: int64

> Q2. From top 50 list this year, get top 20 most frequently occuring artists

In [19]:
charts_df[(charts_df['position']>=50)&(charts_df['year']==2020)]['artist'].value_counts()[:20]

Taylor Swift        1687
Lauv                1608
December Avenue     1583
Ben&Ben             1453
Moira Dela Torre    1249
LANY                1246
Ed Sheeran          1233
BTS                 1142
TWICE               1014
BLACKPINK            913
Harry Styles         856
Sam Smith            773
This Band            739
Hale                 731
Jason Mraz           700
South Border         689
Matthaios            672
Post Malone          656
Shawn Mendes         611
Lady Gaga            606
Name: artist, dtype: int64

> Q3. On what positions did Taylor Swift land on the chart for 2019? What were her songs that landed first on the chart?

In [20]:
np.sort(charts_df[(charts_df['artist']=='Taylor Swift')&(charts_df['year']==2019)]['position'].unique())

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156, 157, 158,
       159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171,
       172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184,
       185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197,
       198, 199, 200])

In [21]:
charts_df[(charts_df['artist']=='Taylor Swift')&\
                    (charts_df['year']==2019)&\
                    (charts_df['position']==1)]['track_name'].unique()

array(['ME! (feat. Brendon Urie of Panic! At The Disco)', 'Lover'],
      dtype=object)

### 3. Describing and Aggregating the charts dataset

Basic stats on the streams column using the `describe` method

In [22]:
charts_df['streams'].describe()

count    294600.000000
mean      50735.161568
std       41470.922477
min       11004.000000
25%       26087.000000
50%       33904.000000
75%       59035.000000
max      670517.000000
Name: streams, dtype: float64

The pandas GroupBy operator functions in the same way as pivot_table in excel

The syntax is:
```python
df.groupby('index_column')['agg_column'].aggfunc
df.groupby(['index_column1','index_column2']).agg('agg_column1':aggfunc1, 'agg_column2':aggfunc2)
```

Q: How many total streams did charting songs in Spotify earn per year?

In [23]:
charts_df.groupby('year')['streams'].sum()   #inputting a column name string in agg_column outputs a Series

year
2017    3242144459
2018    3467089600
2019    4081571771
2020    4000302402
2021     155470366
Name: streams, dtype: int64

In [24]:
charts_df.groupby('year')[['streams']].sum()   #inputting a list in agg_column outputs a DataFrame

         streams
year
2017  3242144459
2018  3467089600
2019  4081571771
2020  4000302402
2021   155470366

> Q: How many streams did each of the 200 positions contribute to the annual streams of spotify?

In [25]:
charts_df.groupby(['year','position'])[['streams']].sum()   #inputting a list in agg_column outputs a DataFrame

                streams
year position
2017 1         91459424
     2         76542555
     3         68385212
     4         60809129
     5         57562776
...                 ...
2021 196         398171
     197         396954
     198         396209
     199         395005
     200         393074

[1000 rows x 1 columns]

> Q: What visualization would best suit the output of the cell above?

### 4. Combining two datasets

- What insights could we get from merging the charts and tracks datasets?

In [26]:
# read the tracks dataset
tracks_df = pd.read_csv('data/spotify_daily_charts_tracks.csv')
tracks_df.head()

,track_id,track_name,artist_id,artist_name,album_id,duration,release_date,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo
0,0kN8xEmgMW9mh7UmDYHlJP,Versace on the Floor,0du5cEVh5yTK9QJze8zA0C,Bruno Mars,4PgleR09JVnm3zY1fW3XBA,261240,2016-11-17,76,0.578,0.574,2,-6.209,1,0.0454,0.196,0.00000,0.0830,0.301,174.152
1,5uCax9HTNlzGybIStD3vDh,Say You Won't Let Go,4IWBUUAFIplrNtaOHcJPRM,James Arthur,7oiJYvEJHsmYtrgviAVIBD,211466,2016-10-28,88,0.358,0.557,10,-7.398,1,0.0590,0.695,0.00000,0.0902,0.494,85.043
2,7BKLCZ1jbUBVqRi2FVlTVw,Closer,69GGBxA162lTqCwzJG5jLp,The Chainsmokers,0rSLgV8p5FzfnqlEk4GzxE,244960,2016-07-29,87,0.748,0.524,8,-5.599,1,0.0338,0.414,0.00000,0.1110,0.661,95.010
3,2rizacJSyD9S1IQUxUxnsK,All We Know,69GGBxA162lTqCwzJG5jLp,The Chainsmokers,0xmaV6EtJ4M3ebZUPRnhyb,194080,2016-09-29,71,0.662,0.586,0,-8.821,1,0.0307,0.097,0.00272,0.1150,0.296,90.000
4,5MFzQMkrl1FOOng9tq6R9r,Don't Wanna Know,04gDigrS5kc9YWfZHwBETP,Maroon 5,0fvTn3WXF39kQs9i3bnNpP,214480,2016-10-11,1,0.783,0.623,7,-6.126,1,0.0800,0.338,0.00000,0.0975,0.447,100.048

In [27]:
df = charts_df.merge(tracks_df, on='track_id', how='left')
df.head()

,date,position,track_id,track_name_x,artist,streams,month,year,day,day_of_week,...,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo
0,2017-01-01,1,0kN8xEmgMW9mh7UmDYHlJP,Versace on the Floor,Bruno Mars,185236,1,2017,1,6,...,0.574,2,-6.209,1,0.0454,0.196,0.00000,0.0830,0.301,174.152
1,2017-01-01,2,5uCax9HTNlzGybIStD3vDh,Say You Won't Let Go,James Arthur,180552,1,2017,1,6,...,0.557,10,-7.398,1,0.0590,0.695,0.00000,0.0902,0.494,85.043
2,2017-01-01,3,7BKLCZ1jbUBVqRi2FVlTVw,Closer,The Chainsmokers,158720,1,2017,1,6,...,0.524,8,-5.599,1,0.0338,0.414,0.00000,0.1110,0.661,95.010
3,2017-01-01,4,2rizacJSyD9S1IQUxUxnsK,All We Know,The Chainsmokers,130874,1,2017,1,6,...,0.586,0,-8.821,1,0.0307,0.097,0.00272,0.1150,0.296,90.000
4,2017-01-01,5,5MFzQMkrl1FOOng9tq6R9r,Don't Wanna Know,Maroon 5,129656,1,2017,1,6,...,0.623,7,-6.126,1,0.0800,0.338,0.00000,0.0975,0.447,100.048

In [28]:
#Always check number of rows when performing merges
charts_df.shape, tracks_df.shape, df.shape

((294600, 10), (3284, 19), (294600, 28))

In [29]:
df.columns

Index(['date', 'position', 'track_id', 'track_name_x', 'artist', 'streams',
       'month', 'year', 'day', 'day_of_week', 'track_name_y', 'artist_id',
       'artist_name', 'album_id', 'duration', 'release_date', 'popularity',
       'danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness',
       'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo'],
      dtype='object')

In [30]:
#drop duplicated track_name column
df = df.drop(columns='track_name_y')
#rename trace_name x
df = df.rename(columns={'track_name_x':'track_name'})
df.head()

,date,position,track_id,track_name,artist,streams,month,year,day,day_of_week,...,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo
0,2017-01-01,1,0kN8xEmgMW9mh7UmDYHlJP,Versace on the Floor,Bruno Mars,185236,1,2017,1,6,...,0.574,2,-6.209,1,0.0454,0.196,0.00000,0.0830,0.301,174.152
1,2017-01-01,2,5uCax9HTNlzGybIStD3vDh,Say You Won't Let Go,James Arthur,180552,1,2017,1,6,...,0.557,10,-7.398,1,0.0590,0.695,0.00000,0.0902,0.494,85.043
2,2017-01-01,3,7BKLCZ1jbUBVqRi2FVlTVw,Closer,The Chainsmokers,158720,1,2017,1,6,...,0.524,8,-5.599,1,0.0338,0.414,0.00000,0.1110,0.661,95.010
3,2017-01-01,4,2rizacJSyD9S1IQUxUxnsK,All We Know,The Chainsmokers,130874,1,2017,1,6,...,0.586,0,-8.821,1,0.0307,0.097,0.00272,0.1150,0.296,90.000
4,2017-01-01,5,5MFzQMkrl1FOOng9tq6R9r,Don't Wanna Know,Maroon 5,129656,1,2017,1,6,...,0.623,7,-6.126,1,0.0800,0.338,0.00000,0.0975,0.447,100.048

In [31]:
#check if expected columns are present
df.columns

Index(['date', 'position', 'track_id', 'track_name', 'artist', 'streams',
       'month', 'year', 'day', 'day_of_week', 'artist_id', 'artist_name',
       'album_id', 'duration', 'release_date', 'popularity', 'danceability',
       'energy', 'key', 'loudness', 'mode', 'speechiness', 'acousticness',
       'instrumentalness', 'liveness', 'valence', 'tempo'],
      dtype='object')

## Q&A

Q1: What are the top 10 songs in terms of total streams from 2017 to 2020?

In [32]:
# groupby tracks and sum streams, sort and get first 10 rows 
df.groupby(['track_id','track_name'])['streams'].sum().sort_values(ascending=False)[:10]

track_id                track_name
3WUEs51GpcvlgU7lehLgLh  Kathang Isip              127918724
2BgD4nRyx9EZ5o8YEnjRSV  Kung 'Di Rin Lang Ikaw    118348407
1X4l4i472kW5ofFP8Xo0x0  Sana                      110154005
1yDiru08Q6omDOGkZMPnei  Maybe The Night           108275910
5uCax9HTNlzGybIStD3vDh  Say You Won't Let Go      108202338
00mBzIWv5gHOYxwuEJXjOG  Sa Ngalan Ng Pag-Ibig      92401557
4u8RkgV6P4TLi89SmlUtv8  Mundo                      89710226
0tgVpDi06FyKpA1z0VMD4v  Perfect                    78822559
5l9g7py8RCblcvbZgGQgSd  Pagtingin                  78639035
5f9808hpiCpuNyqqdXmpF2  Buwan                      77272981
Name: streams, dtype: int64

Q2: Whats the mean tempo of the top 10 most streamed songs?

In [33]:
top10songs = df.groupby(['track_id','track_name'])['streams'].sum()\
            .sort_values(ascending=False)[:10]\
            .reset_index()['track_id'].values
top10songs

array(['3WUEs51GpcvlgU7lehLgLh', '2BgD4nRyx9EZ5o8YEnjRSV',
       '1X4l4i472kW5ofFP8Xo0x0', '1yDiru08Q6omDOGkZMPnei',
       '5uCax9HTNlzGybIStD3vDh', '00mBzIWv5gHOYxwuEJXjOG',
       '4u8RkgV6P4TLi89SmlUtv8', '0tgVpDi06FyKpA1z0VMD4v',
       '5l9g7py8RCblcvbZgGQgSd', '5f9808hpiCpuNyqqdXmpF2'], dtype=object)

In [34]:
#isin selects elements in list
df[df['track_id'].isin(top10songs)]['tempo'].mean() #in bpm

114.28621049072763

Q2a. Follow-up: How does this compare with the mean tempo of the rest of the songs?

In [35]:
#use ~ to negate
df[~df['track_id'].isin(top10songs)]['tempo'].mean() #in bpm

116.9671291865341

Q3: What are the top 5 “saddest” charting songs for 2020?

In [36]:
#filter by year, drop duplicates for track, sort valence from least to greatest,get first 5 indices 
df[df['year']==2020].drop_duplicates(['track_id','track_name']).sort_values('valence')[:5][['track_name','artist']]

            track_name         artist
272088              Ew           Joji
273493             sad           LANY
259535        Delicate   Taylor Swift
272103        Your Man           Joji
227263  No Time To Die  Billie Eilish

### Plain tables as output?
1. Tables are simple fast answers to simple fast questions
2. Tables are very useful for troubleshooting. The numbers often reveal if there was something wrong with the data source/processing
3. In most office setups, analtyics output are often offtaked by another team (e.g. market segments group -> finance for sales projections). As it could be readily plugged into their computations, they usually prefer tables instead of deployed products.